<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/app.css">
    <title>conversations</title>
</head>

<body>
    <div class="app">
        <div class="users-count">
            <h1> Users </h1>
            <% users.forEach(user=> { %>
                <a onclick="showMessage()" href="/api/message/<%=user._id %>">
                    <img src="/images/nature.png">
                    <div class="detail-user">
                        <span data-receiverId="<%= user._id %>">
                            <%= user.fullname %>
                        </span>
                        <p>12 min ago</p>
                    </div>
                </a>
                <% }) %>
        </div>
        <div class="conversation">
            <h1> conversation </h1>
            <div class="messages-container">
                <% if (messages !=="" ) {%>
                    <% messages.forEach(msg=> { %>
                        <div class="message <%= id === senderId ? 'received' : 'sent'%>">
                            <p>
                                <%= msg.message %>
                            </p>
                        </div>
                        <% }) %>
                            <% } %>
            </div>
            <form id="form" method="post">
                <textarea id="messageInput" name="message" placeholder="write a message"></textarea>
                <button onclick="sendMessage()" id="sendBtn" type="submit"><i class='bx bx-send'></i></button>
            </form>
        </div>
    </div>

    <script>

        let message = document.getElementById('messageInput');
        let currentPath = window.location.pathname;
        let parts = currentPath.split('/');
        let id = parts[parts.length - 1];
        let links = document.querySelectorAll('a');
        const form = document.getElementById('form');
        links.forEach(link => {
            if (link.getAttribute('href') === currentPath) {
                link.classList.add('active');
                form.style.display = 'flex';
            } else if (currentPath === "/api/message/<%= senderId %>") {
                form.style.display = 'none';
            }
        })
        function sendMessage() {
            if (message.value === "") {
                return;
            }
        }
    </script>

</body>

</html>