<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/book.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <title>blog App</title>
</head>

<body>
    <header>
        <div class="nav-bar">
            <h1>blogsApp</h1>
            <div class="search-bar">
                <a href="#"><i class='bx bx-home-alt'></i></a>
                <a href="#"><i class='bx bx-group'></i></a>
                <a href="#"><i class='bx bx-bell'></i></a>
                <a href="#"><i class='bx bx-chat'></i></a>
                <a href="#"><i class='bx bx-cog'></i></a>
                <a href="/blogs/create"><i class='bx bx-edit-alt'></i></a>
                <input type="search" name="search" id="search" placeholder="search...">
                <img src="../images/search-regular-24.png" alt="">
            </div>
            <div class="right">
                <a href="blogs/create"> create </a>
                <a href="/blogs/update"><img src="<%= myProfile %>" alt=""></a>
            </div>
        </div>
    </header>
    <main>
        <aside class="sidebar-gauche">
            <a href="/blogs/update" class="my-profil" style="text-decoration: none; color: gray;">
                <img src="<%= myProfile %>" alt="">
                <span class="name">
                    <%= name %>
                </span>
                <span class="address">
                    <%= email %>
                </span>
            </a>
            <ul class="link-different-page">
                <li>
                    <a href="#">
                        <i class='bx bx-home-alt'></i>
                        <span> home</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-group'></i><span> friends</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-bell'></i><span> notifications</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-chat'></i><span> messages</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-palette'></i><span> colors</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-cog'></i><span> settings</span>
                    </a>
                </li>
            </ul>
            <a href="/blogs/create">create poste</a>
        </aside>
        <section class="middle-sidebar">
            <% myBlogs.forEach(blog=> { %>
                <div class="post-details">
                    <div class="profil">
                        <img src="<%=blog.profile%>" alt="">
                        <div class="name-date">
                            <span class="name">
                                <%=blog.name %>
                            </span>
                            <span class="date">
                                <%=blog.date %>
                            </span>
                        </div>
                    </div>
                    <div class="post-title">
                        <p class="active">
                            <%=blog.content %>
                        </p>
                    </div>
                    <div class="image-post">
                        <img src="<%=blog.image %>" class="imgPost" alt="">
                    </div>
                    <div class="state-post">
                        <div class="icon commentIcon">
                            <img src="../images/message-rounded-dots-regular-24.png" alt="">
                            <span><%=blog.comment.length %></span>
                        </div>
                        <div class="icon">
                            <img src="../images/like-regular-24.png" alt="">
                            <span>34k</span>
                        </div>
                        <div class="icon">
                            <img src="../images/dislike-solid-24.png" alt="">
                            <span>0</span>
                        </div>
                        <div class="icon">
                            <img src="../images/share-regular-24.png" alt="">
                            <span>34k</span>
                        </div>
                    </div>
                    <div class="comment-output">
                        <div class="header-comment">
                            <h3> comments  <%=blog.comment.length %></h3>
                            <i class="bx bx-x"></i>
                        </div>
                        <% blog.comment.forEach(comment => { %>
                        <hr style="width: 100%;">
                        <div class="content">
                            <div class="authorProfil">
                                <img src="<%= myProfile %>" alt="">
                                <span>
                                    <h4 style="color: #4702a8;"><%= comment.author %></h4>
                                    <p>12 jan 2024</p>
                                </span>
                            </div>
                            <p> <%=comment.content %></p>
                        </div>
                        <% }) %>
                    </div>
                    <div class="comment">
                        <img src="<%=myProfile %>" alt="">
                        <form action="/blogs/comment" method="post" class="comment-form">
                            <input type="hidden" name="blogId" value="<%=blog._id%>">
                            <textarea type="text" name="comment" placeholder="comment your opinion"></textarea>
                            <button type="submit">
                                <i class='bx bx-send'></i>
                            </button>
                        </form>
                    </div>
                </div>
                <% }) %>
        </section>
        <aside class="sidebar-droite">
            <div class="messages">
                <h1> Messages </h1>
                <form action="#">
                    <input type="search" name="search" id="search-messages" placeholder="search for messages">
                    <label for="search-messages">
                        <img src="../images/search-regular-24.png" alt="">
                    </label>
                </form>
                <hr>
                <div id="friend-message">
                    <img src="../images/monPC.webp" alt="friend profil ">
                    <div class="friend">
                        <span class="name">Aicha BB</span>
                        <span class="time"> 2 min Ego</span>
                    </div>
                </div>
                <div id="friend-message">
                    <img src="../images/clouds-5.jpg" alt="friend profil ">
                    <div class="friend">
                        <span class="name">Abdoullah</span>
                        <span class="time"> 8 min Ego</span>
                    </div>
                </div>
                <div id="friend-message">
                    <img src="../images/biologie.jpg" alt="friend profil ">
                    <div class="friend">
                        <span class="name">ibrahim </span>
                        <span class="time"> 10 min Ego</span>
                    </div>
                </div>
                <div id="friend-message">
                    <img src="../images/militaire.jpg" alt="friend profil ">
                    <div class="friend">
                        <span class="name">aboubakr</span>
                        <span class="time"> 20 min Ego</span>
                    </div>
                </div>
                <div id="friend-message">
                    <img src="../images/clouds-5.jpg" alt="friend profil ">
                    <div class="friend">
                        <span class="name">aliou</span>
                        <span class="time"> 2h Ego</span>
                    </div>
                </div>
            </div>
        </aside>
    </main>
    <%- include('./partials/script.blogs.ejs') %>

</body>

</html>