<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/book.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <title>blog App</title>
</head>

<body>
    <div class="create-overlay">
        <div class="createBlog">
            <div class="profil">
                <img src="../images/clouds-5.jpg" alt="">
                <div class="name-email">
                    <span class="name">
                        <%= name %>
                    </span>
                    <span class="email">
                        <%= email %>
                    </span>
                </div>
                <i onclick="toggleCreateBlog()" class='bx bx-x-circle'></i>
            </div>
            <br>
            <hr>
            <div>
                <img id="display" style="border-radius: 6px; margin-top: 10px;">
            </div>
            <form action="blogs" enctype="multipart/form-data" method="post">
                <textarea name="content" id="content" placeholder="dites quelque chose..."> </textarea>
                <button type="button">
                    <i class='bx bx-image-add'></i>
                    <input type="file" name="image" id="file">
                </button>
                <button onclick="toggleCreateBlog()" type="submit">publier</button>
            </form>
        </div>
    </div>
    <nav>
        <div class="nav-bar">
            <h1>blogsApp</h1>
            <div class="search-bar">
                <input type="search" name="search" id="search" placeholder="search...">
                <img src="../images/search-regular-24.png" alt="">
            </div>
            <div class="right">
                <a onclick="toggleCreateBlog()" href="#"> create </a>
                <img src="../images/militaire.jpg" alt="">
            </div>
        </div>
    </nav>
    <main>
        <aside class="sidebar-gauche">
                <a href="/blogs/<%= id %>" class="my-profil" style="text-decoration: none; color: gray;">
                    <img src="../images/militaire.jpg" alt="">
                    <span class="name">
                        <%= name %>
                    </span>
                    <span class="address">
                        <%= email %>
                    </span>
                </a>
            <ul class="link-different-page">
                <li>
                    <a href="#">
                        <i class='bx bx-home-alt'></i>
                        <span> home</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-group'></i><span> friends</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-bell'></i><span> notifications</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-chat'></i><span> messages</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-palette'></i><span> colors</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-cog'></i><span> settings</span>
                    </a>
                </li>
            </ul>
            <a onclick="toggleCreateBlog()" href="#">
                create poste
            </a>
        </aside>
        <section class="middle-sidebar">
            <% myBlogs.forEach(blog=> { %>
                <div class="post-details">
                    <div class="profil">
                        <img src="<%=blog.image %>" alt="">
                        <div class="name-date">
                            <span class="name">
                                <%=blog.name %>
                            </span>
                            <span class="date">
                                <%=blog.date %>
                            </span>
                        </div>
                    </div>
                    <div class="post-title">
                        <p class="active">
                            <%=blog.content %>
                        </p>
                    </div>
                    <div class="image-post">
                        <img src="<%=blog.image %>" class="imgPost" alt="">
                    </div>
                    <div class="state-post">
                        <div class="icon">
                            <img src="../images/message-rounded-dots-regular-24.png" alt="">
                            <span>34k</span>
                        </div>
                        <div class="icon">
                            <img src="../images/like-regular-24.png" alt="">
                            <span>34k</span>
                        </div>
                        <div class="icon">
                            <img src="../images/dislike-solid-24.png" alt="">
                            <span>0</span>
                        </div>
                        <div class="icon">
                            <img src="../images/share-regular-24.png" alt="">
                            <span>34k</span>
                        </div>
                    </div>
                    <div class="comment">
                        <img src="<%=blog.image %>" alt="">
                        <form action="#" method="post">
                            <input type="text" name="search" id="search" placeholder="comment your opinion">
                            <button type="submit">
                                <i class='bx bx-send'></i>
                            </button>
                        </form>
                    </div>
                </div>
                <% }) %>
        </section>
        <aside class="sidebar-droite">
            <div class="messages">
                <h1> Messages </h1>
                <form action="#">
                    <input type="search" name="search" id="search-messages" placeholder="search for messages">
                    <label for="search-messages">
                        <img src="../images/search-regular-24.png" alt="">
                    </label>
                </form>
                <hr>
                <div id="friend-message">
                    <img src="../images/monPC.webp" alt="friend profil ">
                    <div class="friend">
                        <span class="name">Aicha BB</span>
                        <span class="time"> 2 min Ego</span>
                    </div>
                </div>
                <div id="friend-message">
                    <img src="../images/clouds-5.jpg" alt="friend profil ">
                    <div class="friend">
                        <span class="name">Abdoullah</span>
                        <span class="time"> 8 min Ego</span>
                    </div>
                </div>
                <div id="friend-message">
                    <img src="../images/biologie.jpg" alt="friend profil ">
                    <div class="friend">
                        <span class="name">ibrahim </span>
                        <span class="time"> 10 min Ego</span>
                    </div>
                </div>
                <div id="friend-message">
                    <img src="../images/militaire.jpg" alt="friend profil ">
                    <div class="friend">
                        <span class="name">aboubakr</span>
                        <span class="time"> 20 min Ego</span>
                    </div>
                </div>
                <div id="friend-message">
                    <img src="../images/clouds-5.jpg" alt="friend profil ">
                    <div class="friend">
                        <span class="name">aliou</span>
                        <span class="time"> 2h Ego</span>
                    </div>
                </div>
            </div>
        </aside>
    </main>

    <script>

        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('.image-post').forEach(parent => {
                const img = parent.querySelector('img');
                if (!img.src || img.src.endsWith('/')) {
                    parent.style.display = 'none'
                }
            })
        })

        const para = document.querySelectorAll('p');
        para.forEach((p) => {
            p.addEventListener('click', () => {
                p.classList.toggle('active')
            })
        })
        const input = document.getElementById('file');
        const output = document.getElementById('display');
        input.addEventListener('change', (e) => {
            const file = e.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    output.src = e.target.result;
                    output.style.width = "100px"
                    output.style.width = "100px"
                }
                reader.readAsDataURL(file)
            }
        })

        const blogImagePost = document.querySelector('.imgPost');
        const createOverlay = document.querySelector('.create-overlay')
        function toggleCreateBlog() {
            createOverlay.style.display = createOverlay.style.display === 'flex' ? 'none' : 'flex';
            console.log(blogImagePost.src)
        }
    </script>

</body>

</html>